* {
    /*Margin is used to create space around elements outside of any defined border.*/
    margin: 0;
    /*padding creates space around an elements inside any defined borders.*/
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    /* Set the minimum height of an element*/
    min-height: 100vh;
    /*display property defines the display behaviour of an element - flex displays an element as a block level container.*/
    display: flex;
    /*defines the default alignment for items within a flexbox.*/
    align-items: center;
    /*aligns the flex box items when items dont use all available space horizontally.*/
    justify-content: center;
}

/*Background of main calculator element*/
.container{
    margin: 20px;
    background: #000000;
    padding: 25px;
    padding-top: 50px;
    width: 350px;
    /*rounds the corners of an element*/
    border-radius:20px;
}

/*Refers to the title of calculator*/
.container, .h1{
  padding: 10px;
  text-align: center;
  color: rgb(221, 221, 221);
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif ;
}


/*Text of user input*/
.calc-text {
    margin-bottom: 20px;
    padding-left:2px; padding-right: 2px
    
  }
  
  .calc-text p {
    white-space:nowrap;
    padding-top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
    height:76px;
    font-size: 50px;
    text-align: right;
    background: #141414e1;
    color: #fff;
    border: solid;
    border-color: #10404a;
    border-radius: 10px;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box;
    vertical-align: middle;
  }

/*Key grid of calculator - referencing grid and spacing*/
.calculator-keys{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 15px;
        grid-column-gap: 10px;
}

/*Handling the button text and styles*/
button {
    margin-left: 2px;
    background: #333333;
    color: #fff;
    font-size: 1.5rem;
    font-weight:1000;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    height: 70px;
    width: 70px;
  }

/*Controls the brightness of button when hovered over and clicked*/
  button:active,
  button:focus,
  button:hover {
    filter: brightness(120%);
  }

  /*references zero button*/
.key-zero{
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
}

.key-others{
    background: #5872dd
}

.key-operate{
    background: #04d5ff
}